DATABASE_URL=postgresql://postgres.lpjixbysizfwmyfduybb:M3TEuHnGUi0yxXW1@aws-0-sa-east-1.pooler.supabase.com:5432/postgres

SUPABASE_URL=https://lpjixbysizfwmyfduybb.supabase.co
SUPABASE_ANON_KEY=sb_publishable_opgq30ubjP7HZ4hGP14Ybw_ZTYBZ1Pf

ORIGEM_PERMITIDA=https://barbeariasirpatrick.com.br


VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_SUBJECT=mailto:contato@barbeariasirpatrick.com.br


RESEND_API_KEY=
EMAIL_REMETENTE=Barbearia Sir. Patrick <agenda@barbeariasirpatrick.com.br>


FILA_DESLIGADA=0
